button {
  border: 1px black;
  color: rgb(250 250 250);
  background-color: rgb(40 69 100);
  border-radius: 3px;
  padding: 0.7rem 2rem;
}

button.navbar-button {
  border: 1px black;
  color: rgb(250 250 250);
  background-color: rgb(40 69 100);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
}

button:hover {
  background-color: rgb(250 250 250);
  color: rgb(40 69 100);
  cursor: pointer;
  border: rgb(40 69 100) 1px solid;
}

li > a {
  text-decoration: none;
  color: inherit;
  padding-right: 30px;
  font-size: inherit;
}

ul.inline-item > li {
  display: inline;
}

ul {
  list-style: none;
}

div.info-list > ul {
  margin-top: 0;
  padding-left: 0;
}

div.info-list > ul > li {
  padding-bottom: 1rem;
}

a:hover {
  color: rgb(40 69 100);
}

.avenir-font {
  font-family: Avenir, sans-serif;
}

.tiempos-font {
  font-family: "Tiempos Headline", sans-serif;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

.column-40-per {
  flex-basis: 40%;
}

.column-60-per {
  flex-basis: 60%;
}

.white-text {
  color: white;
}

.gray-text {
  color: rgb(110 110 110);
}

.bg-250 {
  background-color: rgb(250 250 250);
  padding: 20px;
}

.bg-82 {
  background-color: rgb(82 83 81);
  padding: 20px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.learn-banner {
  background-color: white;
  padding: 18px 20px;
}

.text-center {
  text-align: center;
}

.border-bottom-line {
  border-bottom: 1px solid rgb(234 236 239);
}

.abso-pos-hero-text {
  position: absolute;
  left: 7%;
  right: 46.5%;
  top: 8%;
}

.abso-pos-hero-text-product {
  position: absolute;
  left: 7%;
  right: 46.5%;
  top: 25%;
}

.h2-hero-img {
  margin-bottom: 13px;
  font-weight: lighter;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

.hero-img-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(59 59 59 / 28.3%);
}

.hero-parag {
  font-size: 0.65rem;
  line-height: 1.2rem;
}

.bottom-margin {
  margin-bottom: 45px;
}

.hero-img-container-index {
  width: 722.5px;
  height: 360px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  background-image: url("images/hero.jpg");
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.hero-img-container-product {
  width: 722.5px;
  height: 360px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  background-image: url("images/product/product-header.jpg");
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.product-command-img {
  width: 100%;
  height: 360px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  background-image: url("images/product/product-image-1.png");
  background-clip: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.product-population-img {
  width: 100%;
  height: 360px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  background-image: url("images/product/product-image-2.png");
  background-clip: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-white {
  width: 35%;
}

.logo-blue {
  width: 30%;
  display: block;
  align-content: center;
  margin: auto 60px;
  position: relative;
  top: 3px;
}

.navbar {
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 45px;
}

.flex-vert-align-center {
  display: flex;
  align-items: center;
}

.bottom-padding {
  padding-bottom: 48px;
}

.footer {
  font-size: 0.8rem;
}

.address {
  font-size: 0.65rem;
  line-height: 1.2rem;
  margin-top: 25px;
}

.info-list {
  font-size: 0.8rem;
}

.h3-clinician {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.p-clinician {
  font-size: 0.7rem;
  line-height: 1.1rem;
  margin-bottom: 35px;
}

.img-p {
  margin-bottom: 20px;
}

.padding-left-40px {
  padding-left: 40px;
}

.h3-learn {
  margin-bottom: 0;
}

.p-learn {
  font-size: 0.62rem;
}

.div-canvas {
  padding: 70px 60px;
}

.padding-40px {
  padding: 40px;
}
